@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

$primary: #81673e;

$font-family-sans-serif: "Montserrat", sans-serif;
$font-family-monospace: "Montserrat", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";